* {
  margin: 0;
}
/* header */

header {
  background-color: lightskyblue;
  background-image: url("../img/pattern.png");
  background-size: 400px;
}

.container {
  width: 1024px;
  margin: auto;
}

.logo {
  height: 70px;
  margin-top: 30px;
}
